{{>header }}
<div class="dead-center">
    <div class="bg animated zoomIn">
        <form action="/books/edit?book_id={{book._id}}" method="post">

            <label for="">Title:</label><br>
            <input type="text" name="title" value="{{book.title}}"><br>

            <label for="">Author:</label><br>
            <input type="text" name="author" value="{{book.author}}"><br>

            <label for="">Imagelink:</label><br>
            <input type="text" name="imageLink" value="{{book.imageLink}}"><br>

            <label for="">Language:</label><br>
            <input type="text" name="language" value="{{book.language}}"><br>

            <label for="">Year:</label><br>
            <input type="number" name="year" value="{{book.year}}"><br>

            <button type="submit">EDIT</button>
        </form>
    </div>
</div>
{{>footer }}