{{!-- {{>header }}
<div class="dead-center">
    <h3>Request sent, wooohooo!</h3>

        <h2>Your email</h2>
        {{email}}

        <h2>Title</h2>
        {{title}}

        <h2>Author</h2>
        {{author}}

        <h2>Language</h2>
        {{language}}

        <h2>Year</h2>
        {{year}}

        <h2>User requesting swop</h2>
        {{userswapping}}
</div>
{{>footer }} --}}

<h1>Email sent</h1>

<h2>Email</h2>
{{email}}

<h2>Subject</h2>
{{subject}}

<h2>Message</h2>
{{message}}