{{>header }}
<div class="dead-center">
    <div class="animated zoomIn bg">
        <form action="book-swap-request" method="POST">

            <label for="">Your email:</label><br>
            <input type="email" name="email" placeholder="enter your email"><br>

            <label for="">Title:</label><br>
            <input type="text" name="title" value="{{book.title}}"><br>

            <label for="">Author:</label><br>
            <input type="text" name="author" value="{{book.author}}"><br>

            <label for="">Language:</label><br>
            <input type="text" name="language" value="{{book.language}}"><br>

            <label for="">Year:</label><br>
            <input type="number" name="year" value="{{book.year}}"><br>

            {{!-- <label for="">User swapping book:</label><br>
        <input type="text" disabled="true" name="userswapping" value="{{book.user}}"><br> --}}

            <button type="submit">REQUEST</button>
        </form>

    </div>
</div>
{{>footer }}