<form action="/books/edit?book_id={{book._id}}" method="post">

    <label for="">Title:</label>
    <input type="text" name="title" value="{{book.title}}">

    <label for="">Author:</label>
    <input type="text" name="author" value="{{book.author}}">

    <label for="">Imagelink:</label>
    <input type="text" name="imageLink" value="{{book.imageLink}}">

    <label for="">Language:</label>
    <input type="text" name="language" value="{{book.language}}">

    <label for="">Year:</label>
    <input type="number" name="year" value="{{book.year}}">
    
    <button type="submit">EDIT</button>
</form>