{{>header }}
<div class="full-row">
    {{#each books}}
    <div class="item-wrapper-outside">
        <div class="item-wrapper-inside">
            <div class="item-img">
                <img src="{{imageLink}}" />
            </div>
            <div class="details">
                <h5>Title:{{this.title}}</h5>
                <h5>Author:{{this.author}}</h5>
                <h5>Language:{{this.language}}</h5>
                <h5>Uploaded by:{{this.email}}</h5>
                {{!-- <a href="book/{{this._id}}">{{this.title}}</a> --}}
            </div>
            <div class="buttons">
                <a href="/books/edit?book_id={{this._id}}" class="swap-button">SWAP</a>
                <a href="/books/edit?book_id={{this._id}}" class="edit-button">EDIT</a>
                <a href="/books/remove?book_id={{this._id}}" class="remove-button">DELETE</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{>footer }}